*{
     margin: 0;
     padding: 0;
     color:white;
     
}
#navbar{
     background-color: #0f1111;
     height:60px;
     width: 100%;
}
#logo{
     color:#f08804;
}
#search_button{
     background-color:#f08804;

}
a{
     margin-right : 170px;
}