body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 9%, 89%);
    
}
h1{
    color:hsla(250, 81%, 49%, 0.859)
}
form{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width:350px;
    margin:auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 100%, 1%, 0.818);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border:2px solid hsla(0, 0%, 0%, 0.812);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;

}
button{
    margin-top:15px;
    background-color: hsl(0, 94%, 54%);
    color:white;
    font-size: 1.5em;
    padding:10px 15px;
    border-radius: 5px;
    cursor:pointer;
    border:none;
}
button:hover{
    background-color: hsla(0, 63%, 45%, 0.551);
}
#ans{
    font-size: 1.75em;
    font-weight: bold;
}