body{
    background: #fff url(../dice\ roller/images/background.png);
    background-size:contain ;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius:10px;
    border: none;
    background-color: hsl(217, 72%, 33%);
    color:white;
    font-weight: bold;
    cursor:pointer;
}
/* this code makes the button flash momentarily*/
button:hover{
    background-color:hwb(205 8% 22%) ;
}
button:active{
    background-color: hsl(194, 70%, 49%);
}
#form{
    background-color: hsl(192, 71%, 76%);
    text-align: center;
    max-width:450px;
    margin:auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px hsla(0, 100%, 1%, 0.818);
}
.checkbox-form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}
.checkbox-item input {
    margin-right: 10px;
}
