#countLabel{
    text-align:center;
    font-size:10em;
    display: block;
}
#buttonContainer{
    display: block;
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em; /* translates to 150 percent */
    color: whitesmoke;
    background-color: rgb(52, 85, 85);
    border-radius:10px;
    cursor:pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: blue;
}