#typed{
    /* width: 300px; */
    height:100px;
    text-align: left;
    color: blue;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}